/* sidenav styling */

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: 200;
    background-color: #3476d6;
    position: fixed;
    top: 0px;
    width: 365px;
    height: 100%;
    color: #e1ffff;
    left: 0;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0;
    margin: 0px;
    line-height: 5em;
    cursor: pointer;
}

.nav-side-menu ul .active {
    background-color: #4f5b69;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 80px;
        top: 35px;
        z-index: 9999 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
    #main {
        width: calc(100% - 365px);
        margin-left: 365px;
        height: 100%;
        padding: 75px 0 0 0;
        background-color: #fbfbfb;
        ;
    }
}

.nav-side-menu ul .active,
.nav-side-menu li.active {
    background-color: #1b5fc2;
}

.nav-side-menu li:hover,
.nav-side-menu li.active {
    background-color: #1b5fc2;
}

.menu-content li:hover .fa-stack-2x,
.nav-side-menu li.active .fa-stack-2x {
    color: #fff;
}

.nav-side-menu li:hover .fa-inverse,
.nav-side-menu li.active .fa-inverse {
    color: #3476d6;
}

.nav-side-menu .fa-stack {
    margin-right: 30px;
}

.left-blue-stripe {
    height: 100%;
    background-color: #0d53b8;
    width: 65px;
    float: left;
    margin-right: -65px;
}






/* blue stripe for mobile */

.nav-side-menu li a:before,
.nav-side-menu li a:before {
    content: '';
    width: 65px;
    height: 60px;
    background-color: #0d53b8;
    display: inline-block;
    position: absolute;
    left: 0px;
}

.nav-side-menu .sub-menu li>span>a:before,
.nav-side-menu .sub-menu li>span>a:before {
    content: '';
    width: 65px;
    height: 60px;
    background-color: #0d53b8;
    display: inline-block;
    position: absolute;
    left: -130px;
}


.nav-side-menu li a {
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 500;
    color: #bbd3f7;
    width: 220px;
    display: inline-block;
}

.menu-content li .fa-stack-2x {
    color: transparent;
}

.nav-side-menu li:hover a,
.nav-side-menu li.active a {
    color: #fff;
    font-weight: 700;
}

.nav-side-menu li {
    margin-left: 15px;
}

.fa-stack-1x {
    font-size: 1.1em;
}

.nav-side-menu .fa-stack {
    height: 2.2em;
    width: 2.2em;
    z-index: 3;
}

.menu-content .fa-stack-2x {
    font-size: 2.5em;
    line-height: .8em;
}

.nav-side-menu>.menu-list>.menu-content>li:hover:before,
.nav-side-menu>.menu-list>.menu-content>li.active:before {
    content: '';
    width: 65px;
    height: 60px;
    background-color: #0948a4;
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 2;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}






/* side menu sub navigation */

.nav-side-menu ul .sub-menu li {
    background-color: #3476d6 !important;
    border: none;
    line-height: 35px;
    margin-left: 130px;
}

.nav-side-menu ul .sub-menu li:hover a,
.nav-side-menu ul .sub-menu li.active a {
    color: #3476d6 !important;
    font-weight: 500;
}



.nav-side-menu ul .sub-menu li a {
    color: white;
    text-transform: none;
    font-weight: 200;
    font-size: 14px;
}



.sub-menu:before {
    content: '';
    width: 65px;
    height: 15px;
    background-color: #0d53b8;
    display: inherit;
}







/*
this fixes the snapping that the submenu had without padding. /shrug
*/

.wrapper-padding {
    padding-bottom: 24px;
    margin-top: -2px;
    margin-bottom: -2px;
}







/*
* animating the subnav bg sweep. I grabbed this from ianlunn.github.io/hover
*/

.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 100%;
}

[class^="hvr-"] {
    padding: 2px 0 2px 15px;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(161, 154, 154, 0.00);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-sweep-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-left:hover,
.hvr-sweep-to-left:focus,
.hvr-sweep-to-left:active {
    color: #fff;
}

.sub-menu li.active .hvr-sweep-to-left:before,
.sub-menu li:hover .hvr-sweep-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-side-menu ul .sub-menu li:hover a {
    color: #9ae5ec !important;
    font-weight: bold;
}

.nav-side-menu ul .sub-menu li:active a {
    color: #1b5fc2 !important;
    font-weight: bold;
    transition-delay: .3s;
    transition-duration: .3s;
}








/*
 * Top nav
 */

.settings {
    position: absolute;
    right: 10px;
    z-index: 200;
    top: 30px;
}


@media (max-width: 767px) {
    .nav-side-menu .toggle-btn {
        top: 35px
    }
}

.bg-dark,
.nav-side-menu .brand {
    background: #25a7b1;
    background: -moz-linear-gradient(-45deg, #25a7b1 1%, #3994e1 100%);
    background: -webkit-linear-gradient(-45deg, #25a7b1 1%, #3994e1 100%);
    background: linear-gradient(135deg, #25a7b1 1%, #3994e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25a7b1', endColorstr='#3994e1', GradientType=1);
    height: 100px;
    box-shadow: 0px 1px 16px hsla(0, 0%, 0%, 0.10)
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}





/* adjusts the width to help the cards space out to the right a little more */


/*@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}*/

a.navbar-brand {
    color: white;
    padding: 0;
}







/* fade in the template cards */

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.btn-secondary.hvr-radial-out {
    background: #727b84;
}


.card .btn-secondary:hover,
.card .btn-secondary:active {
    background-color: #888f98;
}


.btn-secondary.hvr-radial-out:before {
    background: #9ba4af;
}


.card-slider form label.section-title {
    color: #9ca0a5;
    font-size: .9rem;
    font-weight: 500;
}



span.form-type {
    font-weight: 700;
    padding: 0 2px 1px 2px;
    color: #3476d6;
}



body {
    font-family: "Open Sans";
    background-color: #fbfbfb;
}







/** this is the styling for the template nav **/

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active .navgraphic {
    color: #ffffff;
    border: none;
}

.nav-tabs .nav-link .navgraphic {
    font-weight: 100;
    font-size: 1.2rem;
    margin: 0px 25px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active .navtext,
.nav-tabs .nav-link:hover .navtext {
    color: rgba(0, 0, 0, 0);
    transition: .8s;
    background-image: linear-gradient(to right, #25a7b1, #3476d6);
    background-clip: text;
    -webkit-background-clip: text;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active .navtext,
.nav-tabs .nav-link:hover .navtext {

    background-image: -webkit-gradient(to right, #25a7b1, #3476d6);
    background-image: gradient(to right, #25a7b1, #3476d6);
    );
    background-image: linear-gradient(to right, #25a7b1, #3476d6);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}






/* hax for IE, don't ask me why */

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active .navtext,
    .nav-tabs .nav-link:hover .navtext {
        background-image: none;
        background-image: none;
        background-image: none;
        color: rgba(48, 157, 202, 1);
        -webkit-background-clip: none;
        background-clip: none;
    }
}

.navtext {
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3em;
    color: #777777;
    font-weight: 600;
    font-family: Quicksand;
    padding: 7px 18px;
}


.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: inherit;
    background-color: transparent;
    border: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}


.navgraphic img {
    vertical-align: middle;
    margin-top: 43px;
    transform: scale();
}

#links-tab .navgraphic img {
    margin-left: 5px;
}

.nav-tabs {
    border: none;
}



.nav-tabs #sharing.active .navgraphic {
    background-color: #C8AED3;
}

.nav-side-menu ul.sub-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}










/** animating the nav bg **/

.nav-tabs .hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.nav-tabs .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #b7dc92;
}

.nav-tabs a.nav-link:hover .hvr-radial-out:before,
.nav-tabs a.nav-link:focus .hvr-radial-out:before,
.nav-tabs a.nav-link:active .hvr-radial-out:before,
.nav-tabs a.nav-link.active .hvr-radial-out:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}


.nav-tabs #signups-tab .hvr-radial-out:before {
    background: #c8aed3;
}



.nav-tabs #events-tab .hvr-radial-out:before {
    background: #eebaaf;
}

ul#template-nav {
    background-color: #fff;
}


#template-nav .nav-link {

    padding-bottom: 0;
}



.tab-content>.active {
    display: flex;
}

.btn-group.conditional {
    position: absolute;
    width: 22rem;
    height: 452px;
    left: -5px;
    top: -150px;
    z-index: 10;
    border-top: 2px dashed #f5f5f5;
    visibility: hidden;
    opacity: 0;
    background-color: #3476d6;
    border-bottom: 2px dashed #f5f5f5;
    transition: opacity .3s ease-in-out;
}

.custom-control-input.emi.selected:checked~.conditional {}

.custom-control-input.emi:checked~.conditional {
    transition: opacity .3s ease-in-out;
    display: block;
    opacity: 1;
    visibility: visible;
}



.card .conditional .btn-secondary:hover,
.card .conditional .btn-secondary:active {
    background-color: #fff;
    color: #3476d6;
    box-shadow: none;
}


.btn-group.conditional p {
    font-size: .8rem;
    margin: 1rem 1rem .5rem 1rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}




.btn-group.conditional .dropdown-toggle {
    background-color: transparent;
    border: 2px solid #fff;
    font-size: .9rem;
    padding: .5rem 1rem;
    box-shadow: none;
    border-radius: .3rem !important;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}


.card .conditional.show .dropdown-menu.show {
    z-index: 10000;
    overflow: 9999;
    height: 300px;
}


button.close.codes {
    float: none;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    font-weight: 600;
    padding: 10px 13px 10px 13px;
    border-radius: .45rem;
    background-color: #1b5fc2;
    cursor: pointer;
    letter-spacing: .05em;
    font-size: .85rem;
    margin: 3px 10px;
}


button.conditionalclose {
    font-size: 1rem;
    text-shadow: none;
    color: white;
    font-weight: 400;
    opacity: 1;
    border: 1px solid white;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0);
    clear: both;
    display: block;
    text-align: center;
    width: 50%;
    padding: 10px 5px;
    position: fixed;
    bottom: 0;
    margin: 10px 0;
    left: 85px;
}




button.conditionalclose:hover {
    cursor: pointer;
    color: #3476d6;
    background-color: #fff;
    opacity: 1;
}







button.close.codes:hover {
    background-color: #25a7b1;
}



ul#tempalte-nav {
    margin: 0 -30px;
    background-color: #fff;
}

#template-nav .nav-link {

    padding-bottom: 0;

    text-align: center;
}


button.close.codes:hover {
    background-color: #25a7b1;
}

ul#template-nav {
    background-color: #fff;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, .1);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}



.custom-control {
    cursor: pointer;
}







.btn-group.conditional p:first-of-type {
    text-align: left;
    margin-bottom: -10px;
}







/** Validation Styling**/

.card-slider form.fail-validate label.section-title.payment-options {
    color: #fb665b;
}


form.fail-validate input#form-name,
form.fail-validate input.email-confirmation,
form.fail-validate .input-group-addon.email-confirmation {
    border: 1px solid #fb665b;
}

form.fail-validate .input-group-addon.email-confirmation {
    border-right: none;
}



span.name-validation {
    font-size: 0.75rem;
    background-color: #fb665b;
    color: white;
    padding: 2px;
    position: absolute;
    display: inline-block;
    margin: 0;
    left: 20px;
    z-index: 10;
    height: 25px;
    width: 310px;
    top: 28px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    vertical-align: middle;
    line-height: 1.3rem;
}


form.fail-validate input[type="checkbox"]+span.custom-control-indicator {
    border: 2px solid #fb665b;
}


form.fail-validate input[type="checkbox"]:checked+span.custom-control-indicator {
    border: none;
}

span.email-validation {
    font-size: 0.75rem;
    background-color: #fb665b;
    color: white;
    padding: 2px;
    position: absolute;
    display: inline-block;
    margin: 0;
    left: 20px;
    z-index: 10;
    height: 25px;
    width: 310px;
    top: 279px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    vertical-align: middle;
    line-height: 1.3rem;
}


.character-count {
    display: inline;
    position: absolute;
    font-size: .6rem;
    color: #fb665b;
    right: 19px;
    top: 50px;
}




/** settings menu **/

.btn-group.settings .dropdown-menu {
    right: -4px;
    left: auto;
    margin-top: -2px;
    border: 4px solid #3796dd;
    border-top-width: 0;
}

.btn-group.settings .dropdown-toggle {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    /* border-radius: 5px 5px 0 0; */
}

.btn-group.settings .dropdown-toggle::after {
    margin-left: .05em;
}

.btn-group.settings .dropdown-toggle:focus,
.btn-group.settings .dropdown-toggle:active,
.btn-group.settings .dropdown-toggle:hover {
    border: none;
    outline: none;
    box-shadow: none !important;
    background-color: #ffffff;
    color: #3795dd;
}






/***************/

.info.card .card-header,
.transparent.card .card-header {
    color: #25a7b1;
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
}

.info.card {
    background-color: #eee;
    border: none;

    margin: 0 auto;
}


.transparent.card {
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 20px auto 0 auto;
}

.links-container,
.sharing-container {

    max-width: 850px;
    margin: 0 auto;
}

.info.card .input-group-prepend .input-group-text,
.transparent.card .input-group-prepend .input-group-text {
    font-weight: 600;
    color: #666c76;
    font-size: .9rem;
    background-color: transparent;
    border: none;
    padding-left: 0;
}



button.btn.btn-primary {
    background-color: #25a7b1;
    border-color: #25a7b1;
}

.form-control {
    border: 2px solid #c7dfdb;
    border-radius: 12px;
}

.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: none !important;
}

.text-muted {
    color: #959aa3 !important;
}

small#linkHelp {
    text-align: right;
    margin-top: -13px;
}

.info.card button .fa-bolt {
    color: gold;
}

#links-and-sharing-tab-content>.active {
    display: block;
}

.transparent.card h6 {
    font-size: .9rem;
    color: #747474;
    font-weight: 600;
    margin-bottom: 0;
}

.transparent.card small {
    color: #737373;
    display: block;
}

a.sharing-link {
    color: #1191fa;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: .9rem;
}

.transparent.card .card-body {
    padding-top: 1rem;
}

.card-body-section {
    margin-bottom: 1em;
}

a.copy-link {
    margin-left: .3em;
    color: #25a7b1;
    padding: 2px 8px;
}

a.copy-link:hover {
    background-color: #25a7b1;
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: 600;
}

a.copy-link:hover:after {
    content: 'copy link';
    display: inline-block;
    position: relative;
    font-size: .8em;
    margin-left: 4px;
}

.card-body-section li.list-group-item {
    border: none;
    background-color: inherit;
    padding: 5px;
}

.card .media-body {
    font-size: .8em;
}

.sharing-container .card .btn-primary {
    background-color: #25a7b1;
    border-color: #25a7b1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: .85em;
    padding: 10px 0;
}

.sharing-container .card .character-count {
    position: relative;
    float: right;
    right: 0px;
}

.sharing-container .card .fa-camera {
    margin-right: .5em;
}

.transparent.card .list-group-item .fa-circle {
    color: gold;
    margin-right: 5px;
    font-size: .7em;
    vertical-align: middle;
}

.sharing-container .card .fa-pencil {
    color: #25a7b1;
    margin-right: 5px;
}

.sharing-container .card {
    border-color: #c7dfdb;
    border-width: 2px;
}

.sharing-container .facebook-linkedin .fa-facebook-square {

    color: #3b5998;
    font-size: 2.5em;
    margin: -20px 5px 5px -13px;
}

.sharing-container .facebook-linkedin .fa-linkedin-square {

    color: #4875B4;
    font-size: 2.5em;
    margin: -20px 5px 5px -13px;
}


.sharing-container .twitter .fa-twitter-square {
    font-size: 2.5em;
    color: #00aced;
    margin: -20px 5px 5px -13px;
}


.sharing-container .facebook-linkedin .custom-checkbox {
    display: inline-block;
}

.facebook-linkedin .fa:hover,
.twitter .fa:hover {
    cursor: pointer;
}

.facebook-linkedin .custom-control-label::before,
.twitter .custom-control-label::before {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 1rem;
}

.facebook-linkedin .custom-control-label::after,
.twitter .custom-control-label::after {
    width: 1.75rem;
    height: 1.75rem;
    top: .1rem;
    left: -.17rem;
}

.facebook-linkedin .custom-control-input:checked~.custom-control-label::before,
.twitter .custom-control-input:checked~.custom-control-label::before, .email .custom-control-input:checked~.custom-control-label::before  {
    background-color: #68bd14 !important;
    cursor: pointer;
}

.facebook-linkedin input:not(:checked)+label .fa, .twitter input:not(:checked)+label .fa, .email input:not(:checked)+label .fa {
    color: #b7b7b7 !important;
}


.email .custom-control-label::after {
    width: 1.75rem;
    height: 1.75rem;
    top: 1.4rem;
    left: -.17rem;
}

.email .custom-control-label::before {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 1rem;
    top: 1.5rem;
}

.email .input-group {
    width: 100%;
}

.email {
    width: 100%;
}

.email .fa-envelope-square {
    font-size: 2.5em;
    color: #a873e0;
    margin: 0px 5px 5px -13px;
    cursor: pointer;
}
.btn-primary.save-button {
    min-width: 135px;
    display: block;
}
.sharing-container .card-footer {
    border: none !important;
    background-color: transparent !important;
    display: inline-block;
    position: relative;
    padding: 0 5px 0 5px;
    margin: 0;
    float: right;
    right: 0;
    top: 0;
}
.sharing-container .card-footer a {padding: 0px 5px;}